body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 1.8em;
  font-weight: bold;
}

h3 {
  font-size: 1.7em;
}

.row {
  margin-top: 1em;
}

a {
  color: #7e57c2;
}